<footer id="page-footer" class="mt-5 font-small blue pt-4">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Integrantes</h5>
                <p>Santiago Manzanares, Tomás Molezzi, Lorenzo Ruiz Díaz, Nicolás Serafini, Patricio Zein</p>
            </div>
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Curso</h5>
                <p>5ºB Informática</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center mx-auto">© 2021 Copyright:
        <a href="https://www.pioix.edu.ar/">Casa Salesiana Pío IX</a>
    </div>
</footer>