<div id="navbarID" class="navbar navbar-expand-lg navbar-light bg-light mb-3 p-3 border">
    <div class="container">
        <a href="/home" class="btn btn-large btn-secondary">Mi usuario: {{user.username}}</a>
        <a href="/teambuilder" class="btn btn-large btn-secondary">Armador de equipos</a>
        <a href="/lobby" class="btn btn-large btn-secondary">Lobby de batallas</a>
        <a href="/home/logout" class="btn btn-large btn-secondary">Cerrar Sesión</a>
    </div>
</div>