{{> navbar}}
<div class="container-sm mt-5 bg-light mb-3 p-3 border">
    <div class="my-3 form-group">
        <h1>Mi usuario: {{user.username}}</h1>
    </div>
    <div class="mb-3 form-group">
        <h2>Modificar contraseña</h2>
    </div>
    <div class="mb-3 form-group">
        <label for="oldPassword" class="form-label">Ingrese contraseña actual</label>
        <input type="password" class="form-control" id="oldPassword">
    </div>
    <div class="mb-3 form-group">
        <label for="newPassword" class="form-label">Ingrese contraseña nueva</label>
        <input type="password" class="form-control" id="newPassword">
    </div>
    <div class="mb-3 form-group">
        <label for="newPasswordVerification" class="form-label">Reingrese contraseña nueva</label>
        <input type="password" class="form-control" id="newPasswordVerification">
    </div>
    <div class="mb-3 form-check">
        <button type="button" id="modifyPasswordButton" class="btn btn-primary btn-lg">Cambiar contraseña</button>
    </div>
</div>

<div class="text-center mb-3">
    <a id="returnHomeLink" href="/home" class="btn btn-primary btn-lg">Volver</a>
</div>

<script src="/js/modifyPassword.js"></script>
