<label for="seconds">Número de segundos</label>
<input id="seconds" type="number">
<button class="btn btn-primary btn-lg" onclick="beginTimeout()">Presionar para iniciar contador</button>
<button class="btn btn-primary btn-lg" onclick="pauseTimeout()">Pausar contador</button>