{{> navbar}}
<div class="container-sm">
    <div class="mt-5 bg-light mb-3 p-3 border">
        {{> errorAlert}}
        <div class="row my-3 text-center">
            <div class="col-sm-12 offset-lg-4 col-lg-4">
                <a class="btn btn-primary btn-lg" href="/teambuilder/create">Crear equipo</a>
            </div>
        </div>
    </div>
    {{> teamsContainer}}
</div>

<script src="/js/teambuilder.js"></script>
